@import url('https://fonts.googleapis.com/css2?family=Questrial&display=swap');

/*VARIABLES CSS*/
:root {
    --header-height: 48px;
    --font-semi: 600;
}

/*colors*/
:root {
    --first-color: #000000;
    --second-color: #0c6b74;
}
/*typography*/

:root {
    --body-font: 'Questrial', sans-serif;
    --big-font-size: 32px;
    --h2-font-size: 20px;
    --normal-font-size: 16px;
}
@media screen and (min-width: 768px) {
    :root {
        --big-font-size: 56px;
        --h2-font-size: 32px;
        --normal-font-size: 16px;
    }
}

/*margins*/
:root {
    --mb-1: 8px;
    --mb-2: 16px;
    --mb-3: 24px;
    --mb-4: 32px;
    --mb-5: 40px;
    --mb-6: 48px;
}

/*z index*/
:root {
    --z-back: -10;
    --z-normal: 1;
    --z-tooltip: 10;
    --z-fixed: 100;
}


/*reset HTML*/
*,::before,::after {
    box-sizing: border-box;
}
html {
    scroll-behavior: smooth;
}
body {
    margin: var(--header-height) 0 0 0;
    font-family: var(--body-font);
    font-size: var(--normal-font-size);
    color: var(--second-color);
}
h1,h2,p {
    margin: 0;
}
ul {
    margin: 0;
    padding: 0;
    list-style: none;
}
a {
    text-decoration: none;
}
img {
    max-width: 100%;
    height: auto;
    display: block;
}

/* CSS CLASS*/
.section-title {
    position: relative;
    font-size: var(--h2-font-size);
    color: var(--first-color);
    margin-top: var(--mb-2);
    margin-bottom: var(--mb-4);
    text-align: center;
}

.section-title::after {
    position: absolute;
    content: "";
    width: 64px;
    height: 3px;
    left: 0;
    right: 0;
    margin: auto;
    top: 32px;
    background-color: var(--first-color);
}

.section { 
    padding-top: 48px;
    padding-bottom: 32px;
}


/*LAYOUT*/
.bd-grid {
    max-width: 1024px;
    display: grid;
    grid-template-columns: 100%;
    grid-column-gap: 32px;
    width: calc(100% - 32px);
    margin-left: var(--mb-2);
    margin-right: var(--mb-2);
}

.l-header {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: var(--z-fixed);
    background-color: #fff;
    box-shadow: 0 1px 4px rgba(146, 161, 176, .15);
}


/*NAV*/
.nav {
    height: var(--header-height);
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: var(--font-semi);
}
@media screen and (max-width:768px) {
    .nav__menu {
        position: fixed;
        top: var(--header-height);
        right: -100%;
        width: 80%;
        height: 100%;
        padding: 32px;
        background-color: var(--second-color);
        transition: .5s;
    }
}

.nav__item {
    margin-bottom: var(--mb-4);
}

.nav__link {
    position: relative;
    color: #fff;
}
.nav__link:hover {
    position: relative;
}
.nav__link:hover::after {
    position: absolute;
    content: "";
    width: 100%;
    height: 3px;
    left: 0;
    top: 32px;
    background-color: var(--first-color);
}

.nav__logo {
    color: var(--second-color);
}

.nav__toggle {
    color: var(--second-color);
    font-size: 24px;
    cursor: pointer;
}

/*active menu*/
.active::after {
    position: absolute;
    content: "";
    width: 100%;
    height: 3px;
    left: 0;
    top: 32px;
    background-color: var(--first-color);
}

/*show menu*/
.show {
    right: 0;
}


/*HOME*/
.home {
    height: calc(100vh - 48px);
    row-gap: 16px;
}

.home__data {
    align-self: center;
}

.home__title { 
    font-size: var(--big-font-size);
    margin-bottom: var(--mb-5);
}

.home__title-color {
    color: var(--first-color);
}

.home__social {
    display: flex;
    flex-direction: column;
}

.home__social-icon {
    width: max-content;
    margin-bottom: var(--mb-2);
    font-size: 24px;
    color: white;
}
/*.home__social-icon:hover {
    color: var(--second-color);
}*/

.home__img {
    position: absolute;
    right: 10px;
    bottom: 0;
    width: 295px;
}

/*BUTTONS*/
.button {
    display: inline-block;
    background-color: var(--first-color);
    color: #fff;
    padding: 12px 40px;
    font-weight: var(--font-semi);
    border-radius: 8px;
    margin-bottom: var(--mb-4);
}
.button:hover {
    box-shadow: 0 10px 36px rgba(0, 0, 0, .15);
}


/*ABOUT*/
.about__container {
    row-gap: 32px;
    text-align: center;
}

.about__subtitle {
    margin-bottom: var(--mb-2);
}

.about__img {
    justify-self: center;
}
.about__img img {
    width: 200px;
    border-radius: 8px;
}


/*SKILLS*/
.skills__container {
    row-gap: 32px;
    text-align: center;
}

.skills__subtitle {
    margin-bottom: var(--mb-2);
}

.skills__text {
    margin-bottom: var(--mb-4);
}

.skills__data {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    font-weight: var(--font-semi);
    padding: 8px 16px;
    margin-bottom: var(--mb-4);
    border-radius: 8px;
    box-shadow: 0 4px 25px rgba(14, 36, 49, .15);
}

.skills__icon {
    font-size: 32px;
    margin-right: var(--mb-2);
    color: var(--first-color);
}

.skills__names {
    display: flex;
    align-items: center;
}

.skills__bar {
    position: absolute;
    left: 0;
    bottom: 0;
    background-color: var(--first-color);
    height: 4px;
    border-radius: 8px;
    z-index: var(--z-back);
}

.skills__html {
    width: 80%;
}

.skills__css {
    width: 75%;
}

.skills__js {
    width: 70%;
}

.skills__bs {
    width: 45%;
}

.skills__jq {
    width: 62%;
}

.skills__re {
    width: 42%;
}

.skills__img {
    border-radius: 8px;
}


/*WORK*/
.work {
    text-align: center;
    height: 400px;
}

.work__container {
    row-gap: 32px; 
  height: 450px;
    
}


.work__img {
    box-shadow: 0 4px 25px rgba(14, 36, 49, .15);
    border-radius: 4px;
    overflow: hidden;
}

.work__img img {
    transition: 1s;
    cursor: pointer;
}
.work__img img:hover {
    transform: scale(1.1);
}


/*CONTACT*/
.contact__input {
    width: 100%;
    font-size: var(--normal-font-size);
    font-weight: var(--font-semi);
    padding: 16px;
    border-radius: 8px;
    border: 1.5px solid var(--second-color);
    outline: none;
    margin-bottom: var(--mb-4);
}

.contact__button {
    display: block;
    border: none;
    outline: none;
    font-size: var(--normal-font-size);
    cursor: pointer;
    margin-left: auto;
}


form{
    
    flex-direction: colum;
    width: 60%;
    margin: auto;
}
form input, form textarea, form button{
    width: 300px;
    padding: 20px;
    margin-bottom:20px;
    margin-left: 70px;
    outline: none;
    border:none;
    background-color: #ddd;

}
form button{
    background-color: #333;
    cursor: pointer;
    color: #fff;
    margin-left: 165px;
    border-radius: 5px;
    width: 100px;
}
form textarea{
    width: 300px;
}

/*FOOTER*/
.footer {
    background-color: var(--second-color);
    color: #fff;
    text-align: center;
    font-weight: var(--font-semi);
    padding: 32px 0;
}

.footer__title {
    font-size: 32px;
    margin-bottom: var(--mb-4);
}

.footer__social {
    margin-bottom: var(--mb-4);
}

.footer__icon {
    font-size: 20px;
    color: #fff;
    margin: 0 var(--mb-2);
}


/*Media Queries*/
@media screen and (min-width: 768px) {
    body {
        margin: 0;
    }

    .section {
        padding-top: 64px;
        padding-bottom: 48px;
    }

    .section-title {
        margin-bottom: var(--mb-6);
    }

    .section-title::after {
        width: 80px;
        top: 48px;
    }

    .nav {
        height: calc(var(--header-height) + 16px);
    }

    .nav__list {
        display: flex;
        padding-top: 0;
    }

    .nav__item {
        margin-left: var(--mb-6);
        margin-bottom: 0;
    }

    .nav__toggle {
        display: none;
    }

    .nav__link {
        color: var(--second-color);
    }

    .home {
        height: 100vh;
    }

    .home__data {
        align-self: flex-end;
    }

    .home__social {
        padding-top: 0;
        padding-bottom: 40px;
        flex-direction: row;
        align-self: flex-end;
    }

    .home__social-icon {
        margin-bottom: 0;
        margin-right: var(--mb-4);
    }

    .home__img {
        width: 457px;
        bottom: 15%;
    }

    .about__container, .skills__container {
        grid-template-columns: repeat(2,1fr);
        align-items: center;
        text-align: initial;
    }

    .skills__container img {
        width: 80%;
        height: 80%;
    }

    .about__img img {
        width: 300px
    }

    .work__container {
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(2, 1fr);
        column-gap: 32px;
    }

    .contact__form {
        width: 360px;
    }

    .contact__container {
        justify-items: center;
    }
}


@media screen and (min-width: 1024px){
    .bd-grid {
        margin-left: auto;
        margin-right: auto;
    }

    .home__img {
        right: 10%;
    }

    .skills__container img {
        width: 100%;
        height: 80%;
    }
}
